.pokemon-conteiner {
    width: 320px;
    height: 140px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
}
.pokemon-conteiner img {
    height: 100%;
}
h2, span {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-weight: 500;
    font-size: 24px;
    color: #364547;
}
.details {
    display: flex;
    flex-direction: column;
}
.small-text {
    font-size: 10px;
    color: #1aaebb;
}
.big-text {
    font-weight: 700;
    font-size: 18px;
    color: #007580;
}